body{
    background-color: rgb(189, 211, 243);
    color: dodgerblue;
}

h3{
    color: cornflowerblue;
    text-align: justify;
}

.img{
    display: flex;
    justify-content: space-evenly;
    margin: 40px;
}